body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e6e4d9;
    background-image: url('../images/pattern.png');
    display: flex;
    flex-direction: column;
}

#mainheader {
    background-color: #a593c2;
}

/*Top Menu*/

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav>ul>li {
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

/*Side Menu*/

.mainContent ul{
    padding-inline-start: 0;
    margin-right: 0;
    padding: .8rem;
}

.mainContent ul>a>li{
    background-color: #cf4522;
    color: #fff;
    list-style: none;
    padding: 14px 25px;
    display: block;
    cursor: pointer;
    margin-bottom: 2px;
}

.mainContent ul>a>li:hover{
    background-color: #B43110;
}

.mainContent ul>a{
    text-decoration: none;
    color: #fff;
}

.mainContent{
    margin-left: auto;
   margin-right: auto;
    display: flex;
    flex-direction: row;
}



.pageTitle{
    font-size:35px;
    color:#a593c2;
}

.main {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.box {
    width: 200px;
    height: 100px;
    background-color: red;
    margin: 5px 10px;
}

.pieRow {
    display: flex;
    flex-direcion: row;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.leftMenu {
    display: flex;
    flex-direction: column;
}


/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

footer > p, footer > address{
    margin: .5rem 0;
}
